body {
    text-align: center;
}

section {
    padding: 1.5%;
}

nav {
    padding: 1%;
    background-color: #4f8ae8;
}

nav > a {
    color: white;
    text-decoration: none;
}



img {
    width: 30%;
    min-width: 300px;
    border-radius: 10px;
}

#history {
    background-color: lightskyblue;
}

#food {
    background-color: #a3bce6;
}

#interest {
    background-color: #cfe1ff;
}
